compatible = "zmk,combos";

#define COMBO(NAME, BINDINGS, KEYPOS, LAYERS, MS) \
  combo_##NAME { \
    bindings = <BINDINGS>; \
    key-positions = <KEYPOS>; \
    layers = <LAYERS>; \
    timeout-ms = <MS>; \
  };
  
COMBO(miaou2, &tog miaou2, 13 14 15 16, miaou miaou2, 20)
COMBO(ls, &sq LSHFT, 26 27, miaou miaou2 miaou3 number, 20)
COMBO(rs, &sq RSHFT , 32 33, miaou miaou2 miaou3 number, 20)
COMBO(ent, &kp ENTER, 26 27 28, miaou2 miaou3 number navi1, 20)
COMBO(tab, &kp TAB, 25 26 27, miaou2 miaou3 number navi1, 20)
COMBO(esc, &kp ESC, 25 28, miaou2 miaou3 number navi1, 20)
COMBO(z, &kp Z, 13 14, miaou2 miaou3, 20)
COMBO(j, &kp J, 14 15, miaou2 miaou3, 20)
COMBO(bs, &kp BSPC, 15 16, miaou2 miaou3 number navi1, 20)
COMBO(cbs, &kp LC(BSPC), 14 15 16, miaou2 miaou3 number navi1, 20)
COMBO(del, &kp DEL, 14 16, miaou2 miaou3 number navi1, 20)
COMBO(lpar, &kp LPAR, 16 28, miaou2 miaou3 number navi1, 20)
COMBO(rpar, &kp RPAR, 19 31, miaou2 miaou3 number navi1, 20)
COMBO(lbrc, &kp LBRC, 15 27, miaou2 miaou3 number navi1, 20)
COMBO(rbrc, &kp RBRC, 20 32, miaou2 miaou3 number navi1, 20)
COMBO(lbkt, &kp LBKT, 14 26, miaou2 miaou3 number navi1, 20)
COMBO(rbkt, &kp RBKT, 21 33, miaou2 miaou3 number navi1, 20)
COMBO(grv, &kp GRAVE, 13 25, miaou2 miaou3 number navi1, 20)
COMBO(bsl, &kp BSLH, 22 34, miaou2 miaou3 number navi1, 20)
COMBO(all, &kp LC(A), 25 26 27 28, navi1, 20)
COMBO(copy, &kp LC(C), 25 26, navi1, 20)
COMBO(paste, &kp LC(V), 27 28, navi1, 20)
COMBO(cut, &kp LC(X), 26 28, navi1, 20)
COMBO(capswordl, &caps_word, 13 16, miaou miaou2 miaou3, 20)
COMBO(capswordr, &caps_word, 19 22, miaou miaou2 miaou3, 20)
COMBO(caps, &kp CAPS, 13 14 15 16, miaou miaou2 miaou3, 20)