compatible = "zmk,combos";

#define COMBO(NAME, BINDINGS, KEYPOS, LAYERS, MS) \
  combo_##NAME { \
    bindings = <BINDINGS>; \
    key-positions = <KEYPOS>; \
    layers = <LAYERS>; \
    timeout-ms = <MS>; \
  };

COMBO(miaou, &tog miaou, 1 5, miaou miaou1 rsthf, 20)
COMBO(miaou1, &tog miaou1, 3 5, miaou miaou1 rsthf, 20)
COMBO(rsthf, &tog rsthf, 1 3, miaou miaou1 rsthf, 20)
COMBO(capsword, &caps_word, 3 4, miaou miaou1 rsthf, 20)
COMBO(caps, &kp CAPS, 4 5, miaou miaou1 rsthf, 20)
COMBO(z, &kp Z, 2 3, miaou miaou1 rsthf, 20)
COMBO(lpar, &kp LPAR, 4 16, miaou miaou1 rsthf navi, 20)
COMBO(rpar, &kp RPAR, 7 19, miaou miaou1 rsthf navi, 20)
COMBO(lbrc, &kp LBRC, 3 15, miaou miaou1 rsthf navi, 20)
COMBO(rbrc, &kp RBRC, 8 20, miaou miaou1 rsthf navi, 20)
COMBO(lbkt, &kp LBKT, 5 17, miaou miaou1 rsthf navi, 20)
COMBO(rbkt, &kp RBKT, 6 18, miaou miaou1 rsthf navi, 20)
COMBO(eql, &kp EQUAL, 32 33, miaou miaou1 rsthf navi, 20)
COMBO(minus, &kp MINUS, 31 32, miaou miaou1 rsthf navi, 20)
COMBO(astr, &kp STAR, 31 33, miaou miaou1 rsthf navi, 20)
COMBO(open, &kp LC(O), 17 29, miaou miaou1 rsthf navi, 20)
COMBO(rename, &kp F2, 28 29, miaou miaou1 rsthf navi, 20)
COMBO(pgdn, &kp PG_DN, 14 26, navi, 20)
COMBO(pgup, &kp PG_DN, 16 28, navi, 20)
COMBO(menu, &kp K_APP, 25 26, miaou miaou1 rsthf navi, 20)
COMBO(enter, &kp ENTER, 26 27, miaou miaou1 rsthf navi, 20)
COMBO(esc, &kp ESC, 26 27 28, miaou miaou1 rsthf navi, 20)
COMBO(tab, &kp TAB, 27 28, miaou miaou1 rsthf navi, 20)
COMBO(all, &kp LC(A), 14 15 16, navi, 20)
COMBO(playpause, &kp LC(LA(LS(P))), 2 3 4, navi, 20)
COMBO(volup, &kp K_VOL_UP, 3 4, navi, 20)
COMBO(voldn, &kp K_VOL_DN, 2 3, navi, 20)
COMBO(next, &kp K_NEXT, 2 4, navi, 20)
COMBO(prev, &kp K_PREV, 1 4, navi, 20)
COMBO(slash, &kp FSLH, 32 33, rsthf, 20)