/*
*
* Copyright (c) 2021 lowprokb.ca
* SPDX-License-Identifier: MIT
*
*/

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define  rstn  0
#define  navi  1

/ {

        combos {
                #include "combos.dtsi"
        };

        behaviors {
                skq: sticky_key_quick_release {
                compatible = "zmk,behavior-sticky-key";
                label = "STICKY_KEY_QUICK_RELEASE";
                #binding-cells = <1>;
                bindings = <&kp>;
                release-after-ms = <1000>;
                quick-release;
        };
  }; 
  
        keymap {
                compatible = "zmk,keymap";      

                rstn_layer {
                        label = " rstn ";
                        bindings = <
                &none   &kp X      &kp C &kp D &kp W &kp B           &kp SEMI  &kp U     &kp O   &kp Y    &kp K        &none
                &none   &kp R      &kp S &kp T &kp N &kp F           &kp MINUS &kp E     &kp A   &kp I    &kp H        &none
                &none   &skq LSHFT &kp G &kp M &kp P &kp V           &kp GRAVE &kp COMMA &kp DOT &kp FSLH &skq RSHFT   &none
                                &none &sl  navi  &kp L                               &kp SPACE &kp SQT &none
                        >;
                };

                navi_layer {
                        label = " navi ";
                        bindings = <
                &none   &kp LC(LS(Z)) &kp LEFT &kp Q    &kp RIGHT &kp LC(Z)         &kp SEMI  &kp N7 &kp N8 &kp N9 &kp BSLH     &none
                &none   &skq LCTL     &kp J    &kp UP   &kp Z     &kp HOME          &skq LALT &kp N1 &kp N2 &kp N3 &skq LGUI    &none
                &none   &skq LSHFT    &kp DEL  &kp DOWN &kp BSPC  &kp END           &kp GRAVE &kp N4 &kp N5 &kp N6 &skq RSHFT   &none
                                &none &trans &trans                                             &trans &kp N0 &none
                        >;
                };
        };
};